<div class="w-50 mx-auto mt-5">
    <h1 class="text-primary">User registration form</h1>
    
    <form #ref="ngForm" (ngSubmit)="addUserData()" >
      <div>
        <label for="un">Username</label>
        <input type="text" name="username" id="un" class="form-control" [(ngModel)]=userObj.username>
      </div>
    
      <div>
        <label for="do">Date of Birth</label>
        <input type="date" name="dob" id="do" class="form-control" [(ngModel)]=userObj.dob>
      </div>
    
      <div>
        <label for="em">E-Mail</label>
        <input type="email" name="email" id="em" class="form-control" [(ngModel)]=userObj.email>
      </div>
     <button type="submit" class="btn d-bloxk mx-auto m-3 text-warning bg-light">Register</button>
    </form>
    